# OS
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp

# Dépendances / build
node_modules/
dist/
build/
out/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Logs & temporaires
*.log
*.tmp
